body {
  background-image: url("../../assets/Images/CookieBackGrond.jpg");
  background-size: cover;
  scrollbar-color: #bbb #111;
  box-sizing: border-box;
}
body .row {
  width: 100%;
}
body .left_side, body .mid_side, body .right_side {
  height: 100vh;
}
body .left_side {
  border-right: 3px solid rgba(0, 0, 0, 0.808);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
}
body .right_side {
  border-left: 3px solid rgba(0, 0, 0, 0.808);
  background: rgba(0, 0, 0, 0.5764705882);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.808);
}

.left_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.left_section .left_content {
  display: flex;
  align-items: center;
  gap: 10rem;
  flex-direction: column;
  width: 100%;
}
.left_section .left_content .cookie {
  background-color: rgba(0, 0, 0, 0.5333333333);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
  display: flex;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.left_section .left_content .cookie p {
  font-size: 0.875rem;
  font-weight: 300;
}
.left_section .left_content button {
  background: none;
  width: 18rem;
  height: 18rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  transition: transform 0.1s ease-in-out;
}
.left_section .left_content button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.left_section .left_content button:hover {
  transform: scale(1.1);
}

.mid_section .mid_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mid_section .mid_content .comment {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5764705882);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
  border-bottom: 2px solid rgba(0, 0, 0, 0.808);
}
.mid_section .mid_content .comment button {
  background: #000;
  font-weight: 600;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
}
.mid_section .mid_content .comment button:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.4196078431);
  font-weight: 600;
  box-shadow: 0 5px 10px rgba(161, 161, 168, 0.808);
}
.mid_section .mid_content .centerArea {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  border-top: 2px solid rgba(0, 0, 0, 0.808);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
}
.mid_section .mid_content .centerArea .row {
  height: 15vh;
  border: 2px solid rgba(0, 0, 0, 0.808);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
}
.mid_section .mid_content .centerArea .row img {
  background-size: cover;
  padding: 0;
  margin: 0;
}

.regth_section {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  border-top: 2px solid rgba(0, 0, 0, 0.808);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
}
.regth_section .reght_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regth_section .upgrades {
  margin-left: 3%;
}
.regth_section .title {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
  color: white;
}
.regth_section .subtitle {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
  color: chartreuse;
}
.regth_section .click_upgrades {
  margin-top: 2em;
  gap: 1em;
}
.regth_section .upgrade1_btn {
  background-image: url("../../assets/Images/image (1).png");
  background-size: 90% 90%;
  background-color: rgb(213, 139, 230);
}
.regth_section .upgrade2_btn {
  background-image: url("../../assets/Images/image (2).png");
  background-size: 100% 100%;
  background-color: rgb(214, 218, 133);
}
.regth_section .upgrade3_btn {
  background-image: url("../../assets/Images/image (3).png");
  background-size: 100% 100%;
  background-color: rgb(62, 175, 206);
}
.regth_section .upgrade4_btn {
  background-image: url("../../assets/Images/image (4).png");
  background-size: 100% 100%;
  background-color: rgb(203, 157, 111);
}
.regth_section .upgrade5_btn {
  background-image: url("../../assets/Images/image (5).png");
  background-size: 100% 100%;
  background-color: rgb(231, 252, 188);
}
.regth_section .upgrade6_btn {
  background-image: url("../../assets/Images/image (6).png");
  background-size: 100% 100%;
  background-color: rgb(62, 126, 95);
}
.regth_section .upgrade7_btn {
  background-image: url("../../assets/Images/image (7).png");
  background-size: 100% 100%;
  background-color: rgb(114, 174, 216);
}
.regth_section .upgrade8_btn {
  background-image: url("../../assets/Images/image (8).png");
  background-size: cover;
  background-color: rgb(127, 130, 83);
}
.regth_section .click_upgrades button {
  background-repeat: no-repeat;
  background-position: center;
  white-space: normal;
  padding: 1em 1.3em;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 3rem;
  min-height: 2rem;
}
.regth_section .uniecke_upgrades button {
  white-space: normal;
  background-repeat: no-repeat;
  padding: 1em 2em;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 100%;
  min-height: 3.8rem;
}
.regth_section .uniecke1_btn {
  background-image: url("../../assets/Images/image (9).png");
  background-color: bisque;
}
.regth_section .uniecke2_btn {
  background-image: url("../../assets/Images/image (10).png");
  background-color: bisque;
}
.regth_section .uniecke3_btn {
  background-image: url("../../assets/Images/image (11).png");
  background-color: bisque;
}
.regth_section .uniecke4_btn {
  background-image: url("../../assets/Images/image (12).png");
  background-color: bisque;
}
.regth_section .uniecke5_btn {
  background-image: url("../../assets/Images/image (13).png");
  background-color: bisque;
}
.regth_section .uniecke_upgrades {
  margin-top: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 1.9rem;
}

/*# sourceMappingURL=main.css.map */
