body {
  background-image: url("../../assets/Images/CookieBackGrond.jpg");
  background-size: cover;
  scrollbar-color: #bbb #111;
  box-sizing: border-box;
}
body .row {
  width: 100%;
}
body .left_side, body .mid_side, body .right_side {
  height: 100vh;
}
body .left_side {
  border-right: 3px solid rgba(0, 0, 0, 0.808);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
}
body .right_side {
  border-left: 3px solid rgba(0, 0, 0, 0.808);
  background: rgba(0, 0, 0, 0.5764705882);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.808);
}

.left_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.left_section .left_content {
  display: flex;
  align-items: center;
  gap: 10rem;
  flex-direction: column;
  width: 100%;
}
.left_section .left_content .cookie {
  background-color: rgba(0, 0, 0, 0.5333333333);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
  display: flex;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.left_section .left_content .cookie p {
  font-size: 0.875rem;
  font-weight: 300;
}
.left_section .left_content button {
  width: 18rem;
  height: 18rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  transition: transform 0.1s ease-in-out;
}
.left_section .left_content button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7450980392);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
}
.left_section .left_content button:hover {
  transform: scale(1.1);
}

.mid_section .mid_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mid_section .mid_content .comment {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5764705882);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
  border-bottom: 2px solid rgba(0, 0, 0, 0.808);
}
.mid_section .mid_content .comment button {
  background: #000;
  font-weight: 600;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
}
.mid_section .mid_content .comment button:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.4196078431);
  font-weight: 600;
  box-shadow: 0 5px 10px rgba(161, 161, 168, 0.808);
}
.mid_section .mid_content .centerArea {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  border-top: 2px solid rgba(0, 0, 0, 0.808);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
}
.mid_section .mid_content .centerArea .row {
  height: 15vh;
  border: 2px solid rgba(0, 0, 0, 0.808);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
}
.mid_section .mid_content .centerArea .row img {
  background-size: cover;
  padding: 0;
  margin: 0;
}

.regth_section {
  display: flex;
}
.regth_section .reght_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regth_section .upgrades {
  margin-left: 10%;
}
.regth_section .title {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
  color: white;
}
.regth_section .subtitle {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
  color: chartreuse;
}
.regth_section .click_upgrades {
  margin-top: 2em;
  gap: 1em;
}
.regth_section .upgrade1_btn {
  background-image: url("../../assets/Images/image (1).png");
  background-size: contain;
  background-color: tomato;
  background-repeat: no-repeat;
  background-position: center;
  white-space: normal;
  padding: 1em 1.3em;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 3rem;
  min-height: 2rem;
}
.regth_section .click_upgrades button {
  white-space: normal;
  text-align: center;
  padding: 1em 1.3em;
  box-sizing: border-box;
}
.regth_section .uniecke_upgrades button {
  width: 100%;
  white-space: normal;
  text-align: center;
  padding: 1em 2em;
  box-sizing: border-box;
}
.regth_section .uniecke_upgrades {
  margin-top: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 1.9rem;
}

/*# sourceMappingURL=main.css.map */
