    body{
      background-image: url('../../assets/Images/CookieBackGrond.jpg');
      background-size: cover;
       scrollbar-color: #bbb #111;
       box-sizing: border-box;
    .row{
        width: 100%;
        
    }
    .left_side, .mid_side, .right_side {
    height: 100vh;
    }
    .left_side{
        
        border-right: 3px solid rgba(0, 0, 0, 0.808);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
        
    }   
    .right_side{
        border-left: 3px solid rgba(0, 0, 0, 0.808);
        background: #00000093;
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.808);
        
    }
}