.left_section{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
     
   .left_content{
    display: flex;
    
    align-items: center;
    gap: 10rem;
    flex-direction: column;
    width: 100%;
        .cookie{

            background-color: #00000088;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
          
            display: flex;
            font-size: 1.2rem;
            font-weight: 900;
            color: white;
            width: 100%;
            align-items: center;
            flex-direction: column;
            
            p{
                
                font-size: .875rem;
                font-weight: 300;
            }
        
        }
        
       
        button{

            img{
                
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: #000000be;
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);
            }

            width: 18rem;
            height: 18rem;
            margin: 0;
            padding: 0;
            border-radius: 50%;
            cursor: pointer;   
            border: none;
            outline: none;
            transition: transform 0.1s ease-in-out; 
        }

        button:hover{
            transform: scale(1.1);
            
            
        }

   }



    
  
}
