.regth_section{
     display: flex;
         height: calc(100vh);
                    overflow-y: scroll;
                    border-top: 2px solid rgba(0, 0, 0, 0.808);
                    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.808);

    .reght_content{
        
        display: flex ;
        flex-direction: column;
        align-items: center;
        
        
    }
    
.upgrades{
    
    margin-left: 3%;
    
}
.title{
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    color: white
}
.subtitle{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
    color: chartreuse;
}
.click_upgrades {
    margin-top: 2em;
    gap: 1em;
    .upgrade1_btn{
            background-image: url('../../assets/Images/image (1).png');
            background-size: 90% 90%;      
            background-color: rgb(213, 139, 230);
        }


}

.upgrade3_btn{
    background-image: url('../../assets/Images/image (3).png');
    background-size: 100% 100%; 
    background-color: rgb(62, 175, 206);
}
.upgrade4_btn{
    background-image: url('../../assets/Images/image (4).png');
    background-size: 100% 100%; 
    background-color: rgb(203, 157, 111);
}
.upgrade5_btn {
    background-image: url('../../assets/Images/image (5).png');
    background-size: 100% 100%; 
    background-color: rgb(231, 252, 188);
}
.upgrade6_btn{
    background-image: url('../../assets/Images/image (6).png');
    background-size: 100% 100%; 
    background-color: rgb(62, 126, 95);
}
.upgrade7_btn{
    background-image: url('../../assets/Images/image (7).png');
    background-size: 100% 100%; 
    background-color: rgb(114, 174, 216);
    
}
.upgrade8_btn{
    background-image: url('../../assets/Images/image (8).png');
    background-size: cover; 
    background-color: rgb(127, 130, 83);
}


.click_upgrades button{
        
    background-repeat: no-repeat;
    background-position: center;
    white-space: normal;
    padding: 1em 1.3em;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 3rem;              
    min-height: 2rem;      
}

.uniecke_upgrades button{
     white-space: normal;      
    background-repeat: no-repeat;    
    padding: 1em 2em;        
    box-sizing: border-box;
    overflow: hidden;
    min-width: 100%;              
    min-height: 3.8rem;
    
    
    
    
}
.uniecke1_btn{
    background-image: url('../../assets/Images/image (9).png'); 
    background-color: bisque; 
}
.uniecke2_btn{
    background-image: url('../../assets/Images/image (10).png');
    background-color: bisque; 
}
.uniecke3_btn{
    background-image: url('../../assets/Images/image (11).png');
    background-color: bisque; }
.uniecke4_btn{
    background-image: url('../../assets/Images/image (12).png');   
    background-color: bisque; }
    .uniecke5_btn {
    background-image: url('../../assets/Images/image (13).png');
    background-color: bisque; 
    }

.uniecke_upgrades{
    
    
    margin-top: 2em;
}

}

